<header class="bg-white px-8 py-4 shadow-md flex items-center justify-between">
  <div class="flex items-center gap-8">
    <a routerLink="/" class="text-2xl font-bold">Aluga Fácil</a>

    <div class="flex items-center gap-4">
      <a
        [routerLink]="'/' + item.route"
        class=""
        *ngFor="let item of menu"
        class="hover:border-b-2 border-blue-500"
        >{{ item.name }}</a
      >
    </div>
  </div>

  <a routerLink="/login" class="text-blue-500">Entrar Agora</a>
</header>
