<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <img class="w-full" [src]="carro.imagem" alt="{{ carro.modelo }}" />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{ carro.modelo }}</div>
    <p class="text-gray-700 text-base">
      {{ carro.descricao }}
    </p>
  </div>
  <div class="px-6 pt-4 pb-2 flex justify-between items-center">
    <span
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >Preço: {{ carro.preco }}</span
    >

    <a
      href="#"
      class="inline-block px-3 py-1 text-sm font-semibold text-blue-400 mr-2 mb-2"
      >Detalhes</a
    >
  </div>
</div>
